/* Basic Styling for Tables*/

.cellfill {
    background-color: #337ab7;
    width: 5%
}

.cellselect {
    background-color: #2a6394;
}


/* Styling for controls that are to be hidden */

.hiddenControl {
    display: none;
}

.modalChoiceButtons {
    margin: 3;
}