<!-- Button to trigger modal -->
<button id="addAssociateButton" type="button" class="btn btn-primary modalview associateButtons" data-toggle="modal" data-target="#confirmationModal">
    Add User
</button>

<!-- Button to trigger modal -->
<button id="editAssociateButton" type="button" class="btn btn-primary modalview associateButtons" data-toggle="modal" data-target="#confirmationModal">
    Edit Highlighted User
</button>

<!-- Button to trigger modal -->
<button id="deleteAssociateButton" type="button" class="btn btn-primary modalview associateButtons" data-toggle="modal" data-target="#confirmationModal">
    Delete Highlighted User
</button>

<!-- Modal Form -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
    aria-labelledby="confirmationModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="associateModalTitle" class="modal-title">Sales Associate Asjustment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">

                    <!-- Input Fields for Sales Associates -->
                    <div class="form-group">
                        <label for="lineItemFieldId">ID</label>
                        <input type="text" class="form-control" name="lineItemId" id="lineItemFieldId" readonly>
                        <label for="lineItemFieldNumber">Number</label>
                        <input type="text" class="form-control" name="lineItemNumber" id="lineItemFieldNumber">
                        <label for="associateFieldPassword">Password</label>
                        <input type="password" class="form-control" name="associatePassword" id="associateFieldPassword">
                        <label for="associateFieldCommission">Commission</label>
                        <input type="text" class="form-control" name="associateCommission" id="associateFieldCommission">
                        <label for="associateFieldAddress">Address</label>
                        <input type="text" class="form-control" name="associateAddress" id="associateFieldAddress">                        
                    </div>

                    <!-- Action Being Performed -->
                    <div class="form-control hiddenControl">
                        <input id="addAssociate" type="radio" value=0 name="lineItemChoice">
                        <input id="editAssociate" type="radio" value=1 name="lineItemChoice">
                        <input id="deleteAssociate" type="radio" value=2 name="lineItemChoice">
                    </div>

                    <button id="associateForm" type="submit" class="btn btn-primary hiddenControl">Yes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="confirmSubmission" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>